body {
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    text-align: center;
    border: black;
    
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: goldenrod;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

h1 {
    color: rgb(2, 8, 10);
}

#quiz {
    margin-top: 20px;
}

#question {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

#options button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#options button:hover {
    background-color: #f0f0f0;
}

#submitBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
}

#submitBtn:hover {
    background-color: #45a049;
}
